.flip-card {
  height: 80%;
}

#inputArea {
  height: 80%;
  width: 100%;
  border: 0.15rem solid rgba(136, 192, 208, 0);
  background: #eceff4;
  resize: none;
  padding: .5rem 0 0 .5rem;
  font-size: 1rem;
}

#inputArea:focus {
  border: 0.15rem solid rgba(136, 192, 208, 0.9);
  border-radius: 10px;
}

.button-area {
  float: right;
  height: 20%;
  display: flex;
  align-items: center;
}

#answerSelector {
  height: 80%;
  width: 100%;
  border: none;
  background: #eceff4;
  display: block;
  text-align: left;
  border: 0.15rem solid rgba(136, 192, 208, 0);
  padding: .5rem 0 0 .5rem;
  font-size: 1rem;
}

.flippy-container {
  height: 100%;
  width: 100%;
}

#FileReader {
  display: none;
}
