.flip-card {
  height: 80%;
}

#inputArea {
  height: 350px;
  width: 100%;
  border: none;
  background: #eceff4;
}

.button-area {
  float: right;
  height: 20%;
  display: flex;
  align-items: center;
}

#answerSelector {
  height: 80%;
  width: 100%;
  border: none;
  background: #eceff4;
  display: block;
  text-align: left;
}

.input-container {
  height: 100%;
}

#FileReader {
  display: none;
}