.InsideNews {
	width: 85%;
	margin: auto;
	margin-bottom: 20px;
	background-color: #f3f5f8;
	/* height: 65vh; */
	/* border: 2px solid #999999; */
	border: 2px solid #5e81ac;
	border-radius: 10px;
	/* box-shadow: ; */
	/* padding: 1rem 20px; */
	overflow: hidden;
}

.InsideNews p {
	margin: 0px;
}

.Auther {
	display: flex;
	flex-direction: row;
	height: 15vh;
	position: relative;
}

.AutherAvatar {
	border-radius: 50%;
	margin: 5px 0px 5px 8px;
	display: block;
	width: 10vh;
	height: 10vh;
	border: 5px solid #fff;
}

.AutherName {
	/* padding: 5vh 0; */
	height: 14vh;
	line-height: 14vh;
	margin-left: 0.5rem;
}

.AutherName span {
	/* padding: 10% 0; */
	font-size: 20px;
}
/* .Picture{
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
} */

.News-icons{
	display: inline-block;
	width: 35px;
	height: 35px;
	/* cursor: pointer; */
	border-radius: 2px;

	font-size: 25px;
	/* opacity: 0.7; */
	/* color: #ffffff; */
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;

	position: absolute;
	right: 0;
	top: 0;
}

#curIcon{
	opacity: 0.7;
}

#curIcon:hover{
	cursor: pointer;
	opacity: 1;
}

.News-setting{
	position: absolute;

	right: 0.5rem;
	top: 1.5rem;

	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.News-setting ul{
	padding: 0;
	margin: 0;
}

.News-setting ul li{
	list-style: none;
	padding: 0.4rem 0.7rem;
	text-align: center;
}

/* .News-setting ul li:first-child{
	padding-bottom: 0;
} */

.News-setting ul li:hover{
	cursor: pointer;
	background-color:#f3f5f8;
}

.NewsContent {
	width: 94%;
	margin: 10px auto;
	margin-top: 0px;
	border-radius: 10px;
	margin-bottom: 2.6rem;
}

#EditTextArea {
	height: 10rem;
  width: 97%;
  border: 0.15rem solid rgba(136, 192, 208, 0);
  background: #eceff4;
  resize: none;
  padding: .5rem 0 0 .5rem;
  font-size: 1rem;
  font-family: Roboto;
  overflow-y: auto;
  outline: none;
  /* margin-left: 14px; */
	margin-bottom: 0.2rem;
	white-space: pre-line;
}

.EditNewsBtn {
	text-align: end;
	margin: 1em 1.5em 0 0;
}