.InsideProfile {
  margin: 76px 10px 0 0;
  border: 2px solid #5e81ac;
  background: #f3f5f8 !important;
  border-radius: 10px !important;
  height: auto;
  padding: 1rem 0;
}

.InsideProfile a {
  color: #111;
}

.Information {
  width: 100%;
  height: auto;
  /* background-color: #d9edf7; */
  /* background-color: #eceff4; */
  /* padding-top: 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 10px auto; */
}

.ActionButton,
.PackageButton {
  width: 100%;
}

.ActionButton button {
  font-size: 0.8rem !important;
  min-width: 33%;
  min-height: 65px;
}

.PackageButton button {
  min-height: 65px;
  transition: all 300ms ease-in-out;
  background: -webkit-linear-gradient(
    rgba(235, 203, 139, 0.6),
    rgba(208, 135, 112, 0.9)
  );
  -webkit-text-fill-color: #f3f5f8;
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

.PackageButton button:hover {
  transition: all 300ms ease-in-out;
  background: -webkit-linear-gradient(#ebcb8b, #d08770);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Information a:visited {
  color: #111;
}

.UserInfo {
  margin-bottom: 10px;
}
