.PracticepageBodyHeader {
  width: 70%;
  text-align: center;
}

.PracticepagePracticepageBodyHeader h1{
  display: inline-block;
}

.PracticepageBody{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
}