html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #FFEE75;
}

a{
  text-decoration: none;
  margin: none;
}

.PracticepageBodyHeader {
  width: 70%;
  text-align: center;
}

.PracticepagePracticepageBodyHeader h1{
  display: inline-block;
}

.PracticepageBody{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
}