@keyframes seconds {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.Cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: #000;
  animation: seconds 300ms forwards;
  /* opacity: 1; */
}

.DeleteConfirmInside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  width: 350px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  background: #f3f5f8;
  animation: secondss 300ms forwards;
  text-align: center;
  transform: translate(-50%, -50%);
}

.DeleteConfirmButton{
  /* margin-right: 0.9rem; */
}

.DeleteConfirmWarning{
  text-align: center;
}

::-webkit-input-placeholder {
  color: #808080;
  text-align: center;

}

:-moz-placeholder {
  color: #808080;
  text-align: center;

}

.DeleteConfirmInput input{
  height: 30px;
  width: 120px;
  font-size: 16px;
  text-align: center;
}

@keyframes secondss {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}