:root {
	scrollbar-color: #838fcd transparent;
	scrollbar-width: thin;
	font-size: 16px;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	background: transparent;
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #838fcd;
}

.MuiButton-containedPrimary {
	margin-left: 0.5rem !important;
}
