body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ECEFF4;
  color: #2e3440;
  font-family: Roboto;
}

code {
  font-family: monospace;
}

a {
  text-decoration: none;
  margin: none;
}

.MuiButton-root {
  margin-left: 1rem !important;
}